html {
  color: #1b1b1b;
}

h3, [role="heading"] {
  margin: 0 0 20px;
  padding: 0;
}

[role="heading"] {
  display: block;
  font-weight: bold;
}

a {
  background-color: transparent;
}

a:hover,
[tabindex]:hover {
  color: #768b9a;
}

[tabindex] {
  cursor: pointer;
  outline: 0;
}

[tabindex] h3:before,
[tabindex] [role="heading"]:before {
  content: "\025B8\000A0";
}

a[rel="external"] {
  border-bottom: 1px dotted;
}

b {
  font-weight: bolder;
}

section:not(:first-child):before,
small {
  display: block;
  font-size: 80%;
  padding: 20px 0;
  text-align: center;
  background: #768b9a;
  color: #fff;
  margin: 0 -40px;
}

#home,
[data-page="about"] #about,
[data-page="services"] #services,
[data-page="contact"] #contact {
  display: block;
  visibility: visible;
}

[data-page="about"] #home,
[data-page="services"] #home,
[data-page="contact"] #home {
  display: none;
  visibility: hidden;
}

section {
  display: none;
  visibility: hidden;
  padding-bottom: 20px;
}

section:not(:first-child):before {
  content: "\00A7";
  left: 0;
  right: 0;
  margin-top: -40px;
  margin-bottom: 40px;
}

.inline,
section p,
section h2,
section ul,
ol {
  margin-bottom: 20px;
}

section p,
section ul,
dl,
ol {
  line-height: 1.35;
}

ol,
section ul {
  padding-left: 1em;
}

.columns {
  -webkit-columns: 20px 2;
          columns: 20px 2;
}

.inline dt,
.inline dd {
  display: inline;
}

.quote {
  margin-bottom: 40px;
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 20px;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 3em;
}

.nowrap {
  white-space: nowrap;
}

@media (max-width: 960px) {
  .columns {
    -webkit-columns: auto auto;
            columns: auto auto;
  }
}

@media (max-width: 480px) {
  .column {
    display: block;
  }

  .phone {
    display: none;
  }
}

[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.toggle {
  position: absolute;
  z-index: -1;
  opacity: .01;
  height: 1px;
  overflow: hidden;
}

[type="checkbox"]:checked + .toggle {
  position: static;
  z-index: 0;
  opacity: .99;
  height: auto;
  overflow: visible;
}
